/* src/index.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.pic{
    background-image: url('./assets/sportscar.jpg');
    background-repeat: no-repeat;
   background-size: cover;
  
}



@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);



 
